<launch>
  <arg name="points" default="/hsrb/head_rgbd_sensor/depth_registered/rectified_points" />
  <arg name="image" default="/hsrb/head_rgbd_sensor/rgb/image_rect_color"/>
  <!-- <arg name="rect" default="/hsrb/head_rgbd_sensor/rgb/image_rect_color/screenrectangle" /> -->
  <!-- <arg name="screen_pt" default="/camera/rgb/image_rect_color/screenpoint" /> -->
  
  <arg name="visualize" default="true" />
  <arg name="user_input" default="none" />
  <arg name="cc_thresh" default="-0.01" />

  <node pkg="simple_object_segmentation" type="simple_object_segmentation_node"
	name="simple_object_segmentation" output="screen" clear_params="false">
    <remap from="points" to="$(arg points)" />
    <remap from="rect" to="$(arg image)/screenrectangle" />
    <remap from="screen_pt" to="$(arg image)/screenpoint" />

    <param name="user_input" value="$(arg user_input)" />
    <remap from="user_input" to="/simple_object_segmentation/user_input" />

    <param name="cc_thresh" value="$(arg cc_thresh)" />
    <remap from="cc_thresh" to="/simple_object_segmentation/cc_thresh" />
  </node>

  <group if="$(arg visualize)" >
    <node pkg="jsk_pcl_ros" type="cluster_point_indices_decomposer" 
	  name="segmentation_decomposer">
      <remap from="~input" to="cloud" />
      <remap from="~target" to="indices" />
      
      <!-- <remap from="~align_planes" to="/multi_plane_estimate/output_refined_polygon" /> -->
      <!-- <remap from="~align_planes_coefficients" to="/multi_plane_estimate/output_refined_coefficients" /> -->
      <!-- <param name="align_boxes" value="true" /> -->
      <!-- <param name="use_pca" value="true" /> -->
      <!-- <param name="publish_clouds" value="true" /> -->
      <!-- <param name="publish_tf" value="true" /> -->

    </node>
  </group>
</launch>
